
h2 {
  font-size: 40px;
  margin: 0;
  margin-bottom: 15px;
  border-bottom: solid black 1px;
}

.new-tweet {
  border-radius: 25px;
  border-style: solid;
  padding: 25px 25px 25px 25px;
  background-color: white;
}

textarea {
width: 100%;
padding-top: 10px;
padding-left: 10px;
}

span.countdown {
  float: right;
}

/*main.container {
  background-color: white;
  margin: 0 auto;
}
*/
